{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% if app.user %}
        {% for game in games %}
            <li><a href="{{ game.link }}?userId={{ app.user.id }}&hash={{ game.hash(app.user) }}">{{ game.name }}</a></li>
        {% endfor %}
    {% else %}
        {% for game in games %}
            <li><a href="/login">{{ game.name }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}
